.parallax-container {
    height: 80vh;
    width: 33vw;
    overflow-x: hidden;
    overflow-y: hidden;
    perspective: 1px;
  }
  
  .parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .parallax-layer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

@media screen and (max-width: 1280px) {
    .parallax-container {
      height: 75vh;
      width: 90%;
        overflow: visible;
        padding:30vh 0; 
    }
}

@media screen and (max-width: 1024px) {
  .parallax-container {
    height: 67vh;
    padding: 30vh;
  }
}