.container {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    width: 1200px;
    margin: 0px auto;
    z-index: 10;
}

.topPageVectors {
    display: flex;
    position: relative;
    justify-content: center;
    z-index: -10;
}

.topPageVectors img {
    position: absolute;
    left: 0;
    top: 0;
    height: max-content;
    width: 100%;
}

.logo {
    margin-right: 30px;
}

.logo h1 {
    color: var(--text-light);
}

.links {
    display: flex;
    gap: 10px;
}

.links a {
    text-decoration: none;
    color: var(--text-light);
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
}

.links a:hover {
    background: #1c1c4e;
}

.bigButtons {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.bigButtons button {
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-size: 15px;
}

.bigButtons button:hover {
    
}

.bigButtons button:last-child {
    background: #4945ff;
    color: var(--text-light);
}

.burgerMenu {
    display: none;
}

@media screen and (max-width: 768px) {
    .burgerMenu {
        display: block;
        cursor: pointer;
    }
}