.cardContainer {
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

    @media screen and (max-width: 1280px) {
        width: 986px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
    }
    @media screen and (max-width: 1024px) {
        width: 768px;
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
        flex-wrap: wrap;
        gap: 30px;
    }
    @media screen and (max-width: 842px) {
        width: 640px;
    }
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}