.container {
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    cursor: help;
    gap: 20px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
    box-shadow: 1px 1px 10px #00000030;
    transition: 0.6s;

    .media {
        border-radius: 15px;
        width: 90%;
        min-height: 250px;
        max-height: 250px;
        object-fit: cover;
        margin: 5% auto 0;
    }

    .content {
        padding: 0 20px;
        height: 300px;
        color: var(--text-dark);

        .title {
            margin-bottom: 10px;
            height: 50px;
            border-bottom: 1px solid var(--btn-orange);
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h2{
                font-size: 18px;
            }
            
            span {
                font-weight: 500;
                font-size: 18px;
                height: fit-content;
                background-color: gold;
                padding: 5px 15px;
                border-radius: 5px;
                transition: padding 0.3s ease-in-out;

                &:hover{
                    padding: 5px 20px;
                }
            }
        }

        .details {
            font-size: 16px;
            color: var(--text-dark);

            .description {
                margin-bottom: 10px;
            }
            span{
                font-weight: 500;
                color: var(--text-gray);
            }
        }

    }
    .link{
        text-decoration: none;
        color: var(--text-dark);
        font-size: 17px;
        margin: 20px auto;
        width: fit-content;
        text-align: right;
        border: 1px solid var(--text-dark);
        padding: 7px;
        border-radius: 20px;
        min-width: 140px;
        text-align: center;

        &:hover span{
            width: 100%;
            left: 0;
        }
    }
}
