.container {
    display: flex;
    gap: 20px;
    background: #f6faff;
    // padding: 20px 0px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 1px 1px 10px #00000030;
    transition: 0.6s;
    width: 80%;
    max-height: 400px;

    &:first-child {
        margin-top: 0px;
    }

    &:last-child {
        margin-bottom: 20px;
    }

    .media {
        border-radius: 15px;
        width: 600px;
        object-fit: cover;
        margin: 20px;
    }

    .content {
        padding: 20px;
        height: 400px;
        position: relative;

        .title {
            font-size: 20px;
            margin-bottom: 10px;
            color: var(--text-dark);
        }

        .description {
            font-size: 16px;
            color: var(--text-dark);
        }

        .previewWebsiteButton {
            padding: 15px;
            border: 1px solid var(--main-color);
            background: var(--main-color);
            font-weight: bold;
            border-radius: 15px;
            cursor: pointer;
            font-size: 16px;
            color: var(--text-light);
            margin-bottom: 20px;
            position: absolute;
            bottom: 0;
            transition: all 0.2s;

            &:hover {
                background: transparent;
                color: var(--main-color);
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .container {
        max-height: none;

        .content {
            height: auto;

            .previewWebsiteButton {
                position: relative;
                margin-top: 20px;
            }
        }
        .media {
            width: 350px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
        width: 90%;
        gap: 0;
        max-height: fit-content;
        
        .media {
            // width: 200px;
            width: 95%;
            margin: 8px 2.5%;
        }
        
        .content {
            text-align: center;
            height: fit-content;
            
            .previewWebsiteButton {
                position: relative;
                margin-bottom: 0px;
                margin-top: 20px;
            }
        }
    }
}

