.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s ease-in-out;
    width: 18%;
    padding: 15px;
    border-radius: 15px;
    position: relative;

    &:hover {
        background: #f8f8f8;
        transform: translateY(-10px);
        cursor: pointer;
    }

    .imgContainer {
        position: relative;

        .premiumIcon {
            position: absolute;
            font-size: 16px;
            left: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--text-dark);
            border-radius: 50%;
            width: 26px;
            height: 26px;
            color: gold;
        }

        .photo {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-bottom: 15px;
            object-fit: cover;
        }
    }

    .content {
        .name {
            font-size: 16px;
            color: var(--text-dark);
            margin-bottom: 15px;
            text-align: center;
            transition: color 0.4s ease-in-out;
        }

        .description {
            font-size: 14px;
            text-align: center;
            color: #777;
        }
    }
}

@media screen and (max-width: 1024px) {
    .container {
        width: 25%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;

        &:hover {
            background: transparent;
            transform: translateY(0px);
            cursor: default;
        }

        .imgContainer {
            .photo {
                width: 100px;
                height: 100px;
            }
        }

        .content {
            .name {
                font-size: 18px;
            }

            .description {
                width: 60%;
                margin: 0px auto;
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 430px) {
    .container {
        .content {
            .description {
                width: 100%;
            }
        }
    }
}