@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --bg: #121180;
  /* --text-light: #dfdfdf; */
  --text-light: #ececec;
  --text-dark: #11224d;
  --text-gray: #797979;
  /* --main-color: #0089ff; */
  --main-color: #5b83c3;
  --btn-blue-1: #2c599d;
  --btn-orange: #f98125;
  --logoAbundantColor: red;
  --navigationBarHight: 10vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #fff;
}

.responsiveContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 1200px;
    /* width: 100%; */
    margin: 20px auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}