.container {
    width: 100%;
    margin: 0px auto;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 20px auto; */
}

.title .headers {
    font-size: 50px;
    margin: 40px 0px;
    color: var(--text-dark);
}

.title .headers span {
    color: var(--btn-orange);
}

.cardContainer {
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}


.responsiveContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 1200px;
    /* width: 100%; */
    margin: 20px auto;
    overflow: hidden;
    transition: max-height 2s ease;
  }


.showMoreContaner button{
    padding: 7px;
    border-radius: 5px;
    background-color: var(--btn-blue-1);
    color: var(--text-light);
    cursor: pointer;
  }