.container {
    width: 100%;
    margin: 0px auto;
}

.title {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 20px auto; */
}

.title h1 {
    /* font-size: 60px; */
    /* color: var(--text-light); */
}


/* loading Page */

.loadingContainer{
    /* background-color: var(--text-dark); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 15vh;
    height: 50vh;
}

.loadingContainer h3{
    font-size: 3rem;
    color: transparent;
    -webkit-text-stroke: 1px var(--main-color);
    position: relative;
}
.loadingContainer h3::before{
    content: "Loading...";
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: var(--main-color);
    border-right: 2px solid var(--main-color);
    animation: rightLeftAnimation 2.5s infinite;
}

@keyframes rightLeftAnimation {
    0% {
      width: 0%;
    }
    50% {
      width: 100%;
    }
    100% {
      width:0%;
    }
}

.loadingBox{
    position: relative;
    width: 60px;
    height: 60px;
    background: var(--text-dark);
    border-radius: 50%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingBox::before{
    content: '';
    position: absolute;
    inset: -1.25px 18px;
    background: linear-gradient(315deg, var(--main-color), var(--text-light));
    animation: animate 2.5s linear infinite;
}
.loadingBox:hover::before{
    inset: -20px 0px;
}
@keyframes animate {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.loadingBox::after{
    content: '';
    position: absolute;
    inset: 6px;
    border-radius: 50%;
    z-index: 1;
}

.loadingBox .imgLogo
 {
  width: 50px;
  height: 50px;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
 }