.container {
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 4rem 2rem;
    gap: 50px;
    border-radius: 10px;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.1);

    &-imgDev {
        flex: 1;
        position: relative;
        height: 400px;
    }
    &-imgDev img {
        object-fit: contain;
    }

    &-content {
        flex: 1;
        padding: 1rem;
    }
    
    &-content h2 {
        font-size: 2rem;
        color: var(--text-dark);
        margin-bottom: 1rem;
        font-weight: 600;
    }
    
    &-content p {
        font-size: 1rem;
        color: var(--text-gray);
        line-height: 1.6;
        margin-bottom: 1rem;
    }
    
    &-content ul {
        list-style-type: none;
        padding: 0;
        margin-bottom: 1rem;
    }
    
    &-content ul li {
        font-size: 1rem;
        color: #444;
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
    }
    
    &-content ul li::before {
        content: '•';
        color: var(--main-color);
        font-size: 1.4rem;
        margin-right: 0.5rem;
    }
    
    .icon {
        margin-right: 10px;
    }
    
    &-content .contactButton {
        background-color: var(--main-color);
        color: var(--text-light);
        border: none;
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    &-content .contactButton:hover {
        background-color: var(--btn-orange);
    }
}

@media screen and (max-width: 1280px) {
    .container {
        width: 986px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        width: 768px;
    }
}


@media screen and (max-width: 768px) {
    .container {
        width: 640px;
        &-imgDev {
            display:none;
        }
    }
}