.container {
    width: 1200px;
    margin: 0px auto;

    .content {
        height: 900px;
        display: flex;
        align-items: center;
        justify-content: center;

        .textContainer {
            width: 100%;

            h1 {
                font-size: 50px;
                transition: all 0.75s;
                color: #11224d;
            }

            span {
                color: var(--btn-orange);
            }

            .line {
                height: 2px;
                width: 80px;
                background: var(--btn-orange);
                margin: 20px 0px;
                display: block;
            }

            a {
                padding: 20px;
                border-radius: 15px;
                border: 1px solid var(--btn-orange);
                cursor: pointer;
                font-size: 16px;
                width: 50%;
                display: block;
                background: var(--btn-orange);
                color: var(--text-light);
                font-weight: bold;
                text-decoration: none;
                text-align: center;
                transition: all 0.2s ease-in-out;

                &:hover {
                    background: transparent;
                    color: var(--btn-orange);
                }
            }
        }

        .imgContainer {
            width: 100%;
            display: flex;
            // justify-content: center;
        }
    }
}

@media screen and (max-width: 1280px) {
    .container {
        width: 968px;

        .content {
            height: 600px;

            .textContainer {
                h1 {
                    font-size: 36px;
                }

                a {
                    padding: 10px;
                    width: 30%;
                }
            }
            
            .imgContainer {
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .container {
        width: 768px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        .content {
            height: 240px;

            .imgContainer {
                display:none;
            }

            .textContainer {
                justify-content: center;
                display: flex;
                flex-direction: column;
                align-items: center;

                h1 {
                    text-align: center;
                    font-size: 30px;
                }
            }
        }
    }
}