.container{
    position: absolute;
    top: 5vh;
    right: 6vh;
    scale: 3;
    z-index: 10;
    transition: all 0.4s ease-in-out;

    a{
        color: green;
        display:flex;
    }

    &:hover{
        transform: translateY(-3px);
        scale: 3.5;
        a{
            color: var(--main-color);
        }
    }
}