.container {
    width: 100%;
    margin-top: 40px;
    padding-top: 30px;
    text-align: center;
    background: #111;
    color: var(--text-light);
}

.container .content {
    width: 1200px;
    margin: 0px auto;
}