.container {
    width: 1200px;
    padding: 30px 0px;
    margin: 0px auto;
    margin-top: 40px;
    text-align: center;
    background-color: #111;
    color: var(--text-light);
}

.logo {
    display:flex;
}

.logo img {
    margin-right: 15px;
}