.article-card {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 40px;
    transition: box-shadow 0.3s ease;
    min-width: 320px;
    width: 55%;
    max-width: 80%;
    position: relative;



    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        // box-shadow: 0 4px 8px rgba($main-color, 0.5);
    }

    &-thumbnail {
        width: 100px;
        height: 100px;
        border-radius: 4px;
        margin-right: 20px;
        object-fit: cover;
    }

    &-title,
    &-content {
        flex: 1;
    }

    &-title {
        color: var(--text-dark);
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &-content {
        color: var(--text-gray);
        font-size: 16px;
        line-height: 1.6;
    }

    &-footer {
        display: flex;
        // justify-content: space-between;
        // align-items: center;
        //start from bottom of the card
        margin-top: auto;
        margin-left: auto;

        &-update-info {
            color: #999;
            font-size: 14px;
        }

        &-read-more {
            background-color: transparent;
            border: none;
            color: var(--btn-orange);
            cursor: pointer;
            font-size: 16px;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        width: 70%;
        gap: 10px;
        
    }

    @media screen and (max-width: 768px) {
        align-items: center;
        gap: 5px;
        // justify-content: center;
        max-width: 90%;
        
        &-thumbnail {
            margin:auto;
            margin-bottom: 20px;
        }
        
    }
}
.articleContainer{
    position: relative;
    min-width: 320px;
    max-width: 80%;
    width: 55%;
    border-radius: 4px;

    .seriesBackground1{
        position: absolute;
        transition: all 0.5s;
        top: -5px;
        left: 0px;
        background: #fff;
        width: 100%;
        height: 30px;
        z-index: -1;
        scale: 0.99;
        border-radius: inherit;
        transition: transform 0.25s;
        border: solid 1px #ddd;
    }
    .seriesBackground2{
        position: absolute;
        transition: all 0.5s;
        top: -8px;
        left: 0px;
        background: #fff;
        width: 100%;
        height: 30px;
        z-index: -2;
        scale: 0.98;
        border-radius: inherit;
        transition: transform 0.25s;
        border: solid 1px #ddd;
    }

    .article-card-series{
        width: 100%;
        min-width: none;
        max-width: none;
        // overflow: hidden;
    }
    .cardStyle{
        position: absolute;
        top: 10px;
        right: 30px;
        color: var(--text-dark);
        width: 120px;
        text-align: center;
        border: 1px solid var(--text-gray);
        border-radius: 4px 20px;
        padding: 3px 0;
        
        @media screen and (max-width: 768px) {
            right: 10px;
        }
    }

    &:hover {
        .seriesBackground1{
            transform: translate(0px, -5px);
        }
        .seriesBackground2{
            transform: translate(0px, -10px);
        }
    }
    @media screen and (max-width: 1024px) {
        width: 70%;
    }
}